<div id="deleteform" class="hform">
    <h3 class="center">Confirmation</h3>
    <span><input type="button" id="deleteEvent" style="float:none;" class="submit" value="Delete" /></span>
    <span><input type="button" id="closeDelete" style="float:none;" class="submit" value="Close" /></span>
</div>