

<div class="controlpanelwrapper">
    <div id="wrapper">
        <div id="controlpanel">
            <h1>Control Panel</h1>
            <table class="center" style="width: 50%; margin-top: 20px">
                <tr>
                    <td colspan="2"><a href="@Url.Action("Training","Admin")"><span class="ControlItem">Live Forum</span></a></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="@Url.Action("Index","Account")"><span class="ControlItem">My Account</span></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>