@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="calendarwrapper">
    <h3>Upcoming Events</h3>
    @Html.Partial("_EventCalendar")
</div>

<div class="levelswrapper">
    <div id="wrapper">
        <div id="levels">
            <h1>Available Teaching Materials for:</h1>
            <table align="center">
                <tr>
                    <td><a href="@Url.Action("Subjects", new { id = 1 })"><img src="../../Content/images/primary.jpg" height="130px" alt="Primary"/></a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Subjects", new { id = 2 })"><img src="../../Content/images/elementary.jpg" height="130px" alt="Elementary"/></a></td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Subjects", new { id = 3 })"><img src="../../Content/images/high_school.jpg" height="130px" alt="High School"/></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>